.button{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color:#90a4ae ;
    -fx-text-fill: white;
}

.button:hover  .fontAwsom{
    -fx-fill: white;
}
